main div {
    padding: 1em;
    font-size: x-large;
    font-weight: 500;
}
#calendar {
    padding: 0;
}
#text1 {
    background-color: rgb(224, 221, 207);
    text-align: center;
    text-transform: uppercase;
}
#text2 {
    color: whitesmoke;
    background-color: rgb(75, 71, 77);
}
#text3 {
    background-color: rgb(45, 35, 46);
    color: whitesmoke;
}

/*code for the calendar*/

* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
  padding: 70px 25px;
  width: 100%;
  background: #2D232E;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: rgb(68, 68, 68);
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #555;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: rgb(63, 53, 62);
}

span a {
    text-decoration: none;
    color: whitesmoke;
}

/* Add media queries for smaller screens */
@media screen and (max-width:850px) {
    .weekdays li, .days li {width: 13.4%;}
  }

@media screen and (max-width:720px) {
    .weekdays li, .days li {width: 13.1%;}
  }
  
  @media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 12.5%;}
    .days li .active {padding: 2px;}
  }
  
  @media screen and (max-width: 290px) {
    .weekdays li, .days li {width: 12.2%;}
  }