* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 350px;
}

nav {
    display: grid;
    grid-template-columns: repeat(2, auto);
    background-color: rgb(68, 68, 68);
    padding: 0;
    height: 100%;
}

nav a {
    text-decoration: none;
    color: whitesmoke;
    padding: 1.5em 0;
    letter-spacing: 2px;
    width: 50%;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: x-large;

}

footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(45, 35, 46);
    background-color: rgb(68, 68, 68);
    color: whitesmoke;
    padding: 1em 0;
    font-size: large;
}

footer div {
    width: fit-content;
    margin-left: 1em;
}

.right {
    margin: 0 25%;
    text-align: center;
    justify-self: flex-end;
}
.left {
    margin: 0 25%;
    text-align: center;
    justify-self: flex-start;
}

@media screen and (max-width: 500px) {
    nav {
        grid-template-columns: repeat(1, auto);
        padding: 0;
    }
    nav a{width: 100%;}
    .left {margin: auto; text-align: center;}
    .right {margin: auto; text-align: center;}
}